html,body{
	height : 100%;
}

.page-wrapper{
	min-height: 100%;
}

.footer{
	background-color: #1976D2 ;
	height:200px;
}

.footerMenuColor{
	color:white;
	font-size: 40px;
}

.footerMenuItemColor{
	color:black;
}