<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainInterfaceController</servlet-name>
  	<display-name>MainInterfaceController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.MainInterfaceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ted</servlet-name>
  	<display-name>ted</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.ted</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>patientInputController</servlet-name>
  	<display-name>patientInputController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.patientInputController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>patientInputController2</servlet-name>
  	<display-name>patientInputController2</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.patientInputController2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchPatientController</servlet-name>
  	<display-name>searchPatientController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.searchPatientController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatePatientDetailsController</servlet-name>
  	<display-name>updatePatientDetailsController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.updatePatientDetailsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DischargePatientController</servlet-name>
  	<display-name>DischargePatientController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.DischargePatientController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewAllPatientDetailsController</servlet-name>
  	<display-name>viewAllPatientDetailsController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.viewAllPatientDetailsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addNewUnitController</servlet-name>
  	<display-name>addNewUnitController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.addNewUnitController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllAdmittedPatientReportController</servlet-name>
  	<display-name>AllAdmittedPatientReportController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.AllAdmittedPatientReportController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StillAdmittedPatientReportController</servlet-name>
  	<display-name>StillAdmittedPatientReportController</display-name>
  	<description></description>
  	<servlet-class>patientAndWard.Servlets.StillAdmittedPatientReportController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainInterfaceController</servlet-name>
  	<url-pattern>/MainInterfaceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ted</servlet-name>
  	<url-pattern>/ted</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>patientInputController</servlet-name>
  	<url-pattern>/patientInputController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>patientInputController2</servlet-name>
  	<url-pattern>/patientInputController2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchPatientController</servlet-name>
  	<url-pattern>/searchPatientController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatePatientDetailsController</servlet-name>
  	<url-pattern>/updatePatientDetailsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DischargePatientController</servlet-name>
  	<url-pattern>/DischargePatientController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewAllPatientDetailsController</servlet-name>
  	<url-pattern>/viewAllPatientDetailsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewUnitController</servlet-name>
  	<url-pattern>/addNewUnitController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllAdmittedPatientReportController</servlet-name>
  	<url-pattern>/AllAdmittedPatientReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StillAdmittedPatientReportController</servlet-name>
  	<url-pattern>/StillAdmittedPatientReportController</url-pattern>
  </servlet-mapping>
</web-app>
